
/* 重置 + 共用樣式 */
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
html,body,header,footer,menu,nav,aside,main,article,section,div,span,h1,h2,h3,h4,p,a,hr,ul,ol,li,img,table,tr,td,button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* 移除 <a> 的底線 */
    text-decoration: none;

    /* 移除 <ul><li> 的圓點 / 數字 */
    list-style: none;

    /* 文字顏色繼承父層（避免 <a> 變藍） */
    color: inherit;
    font-family: "Rubik", "Chiron GoRound TC", sans-serif;
}
html{
    scroll-behavior: smooth;
}
img{

    /* → 圖片不會超出容器（RWD 必備） */
    width: 100%;

    /* 解掉圖片下面莫名其妙的空白 */
    vertical-align: bottom;
}

/* body{
    background-color: #000;
} */

 /* :root 顏色設定 */
:root{
    --mainColor--: #FFB7C5;
    --mainAlphaColor--: #fbaceebb ;
    --lightGray--: #fdf5E6;
    --midGray--: #292B2C;
    --DrankBrown--: #8B4513;
    --darkBlack--: #000;
    --alphaBlack--: #0008;
    --DarkGray--:#666666;
    --textWhite--: #FFF;
    --background--:#FFF5F8;
    --transition--: all 600ms ease;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-theme, .btn-line{
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--textWhite--);
    padding: 0.45rem 1rem;
    margin: 0.25rem 0;
    border: none;
    box-shadow: 3px 3px 5px gray;
    background-color: var(--mainColor--);
    cursor: pointer;
}
.btn-theme:hover{
    filter: brightness(1.1);
}
.btn-theme:active{
    filter: brightness(0.8);
    box-shadow: 3px 3px 5px gray inset;
}
.btn-line:hover{
    filter: brightness(0.8);
}
.btn-line{
    background-color: transparent;
    border: 2px solid var(--textWhite--);
}

.grid-1{
    width: calc(100% / 12 * 1);
}
.grid-2{
    width: calc(100% / 12 *2);
}
.grid-3{
    width: calc(100% / 12 * 3);
}
.grid-4{
    width: calc(100% / 12 * 4);
}
.grid-5{
    width: calc(100% / 12 * 5);
}
.grid-6{
    width: calc(100% / 12 * 6);
}
.grid-7{
    width: calc(100% / 12 * 7); 
}
.grid-8{
    width: calc(100% / 12 * 8);
}
.grid-9{
    width: calc(100% / 12 * 9);
}
.grid-10{
    width: calc(100% / 12 * 10);
}
.grid-11{
    width: calc(100% / 12 * 11);
}
.grid-12{
    width: calc(100% / 12 * 12);
}

/* ======== Header 設計 =========== */
header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}
header #logo{
    color: var(--mainColor--);
    font-size: 30px; /* font-size 字體可依需求調整大小 */
    font-weight: 700; /* font-weight 字粗體或半粗，讓文字更顯眼 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* text-shadow 給文字加上陰影效果 */
}
header nav{
    width: 30px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

header nav .bar{
    width:100%;
    height: 2px;
    background-color: var(--DrankBrown--);

     /* 設置旋轉的原點在左上角 */
    transform-origin: 0 0;

    /* 絕對定位 */
    position: absolute;

    /* 左邊距為 0，讓它對齊父容器的左邊 */
    left:0;
}

/* 第一條 .bar 元素，位於頂部 */
header nav .bar:nth-of-type(1){
    top: 0;
}
header nav .bar:nth-of-type(2){
    top: 9px;
}
header nav .bar:nth-of-type(3){
    bottom: 0;
}

/* 當第一條橫線有 .none 類時，會旋轉 36.5 度 */
header nav .bar:nth-of-type(1).none{
    transform: rotate(36.5deg);
}

/* 當第二條橫線有 .none 類時，會完全隱藏（透明度設為 0） */
header nav .bar:nth-of-type(2).none{
    opacity: 0;
}

/* 當第三條橫線有 .none 類時，會旋轉 -36.5 度 */
header nav .bar:nth-of-type(3).none{
    transform: rotate(-36.5deg);
}

header menu{
    width: 100%;
    background-color: var(--background--);
    color: var(--DarkGray--);
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    transition: var(--transition--);
}
header menu ul li a{
    display: block;
    transition: var(--transition--);
}
header menu ul li:hover a{
    background-color: var(--mainColor--);
}
header menu.none{
    /* display: none; */
    padding: 0;
    height: 0;
}



/* =============  Slide 設計================= */
#slide{
    width: 100%;
    height: 100vh;
    position: relative;
}
#slide .box{
    width:100%;
    height: 100%;
    overflow:hidden;
    position: relative;
}
#slide .box .pic{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    transform: translateX(100%);
    animation:slideing 25s linear infinite;
}


#slide .box .pic:nth-of-type(1){
    width: 100%;
    aspect-ratio: 16 / 9;
    background-image: url("../images/mk.png");
    /* background-image: url(https://picsum.photos/id/20/1600/900); */
}
#slide .box .pic:nth-of-type(2){
    width: 100%;
    background-image: url("../images/fruit.jpg");
    /* background-image: url(https://picsum.photos/id/211/1600/900); */
    animation-delay: 5s;
}
#slide .box .pic:nth-of-type(3){
    width: 100%;
    background-image: url("../images/cake.png");
    /* background-image: url(https://picsum.photos/id/212/1600/900); */
    animation-delay: 10s;
}
#slide .box .pic:nth-of-type(4){
    width: 100%;
    background-image: url("../images/fruit-1.jpg");
    /* background-image: url(https://picsum.photos/id/213/1600/900); */
    animation-delay: 15s;
}
#slide .box .pic:nth-of-type(5){
    width: 100%;
    background-image: url("../images/cake-1.png");
    /* background-image: url(https://picsum.photos/id/214/1600/900); */
    animation-delay: 20s;
}

#slide .theme{
    width: 100%;
    height: 100%;
    background-color: var(--alphaBlack--);
    position: absolute;
    top:0;
    left:0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide .theme .item{
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
    color:var(--textWhite--);
    line-height:1.8em;
}

#slide .theme .item h2{
    font: size 40px;
    line-height: 2em;
    color:var(--mainColor--);
}

#slide .theme .item p{
    text-align: justify;
    margin-bottom: 1em;
}



@keyframes slideing{
    /* -------- 0%：動畫開始 -------- */
    0%{
        transform:translateX(100%); /* 圖片在右邊畫面外，準備進場 */
        z-index: 1;                /* 層級低，避免遮住上一張圖片 */
    }

    /* -------- 4%：滑入完成 -------- */
    4%{
        transform:translateX(0);   /* 圖片滑到畫面中央 */
        z-index: 5;                /* 層級提高，蓋在其他圖片上 */
    }

    /* -------- 20%：停留中 -------- */
    20%{
        transform:translateX(0);   /* 保持在畫面中央 */
        /* z-index 不寫，仍維持上面層級 */
    }

    /* -------- 24%：開始滑出 -------- */
    24%{
        transform:translateX(-100%); /* 圖片向左滑出畫面 */
        z-index: 5;                  /* 層級仍高，避免被下一張圖蓋住 */
    }

    /* -------- 25%：滑出完成 -------- */
    25%{
        transform:translateX(-100%); /* 完全滑出左邊 */
        z-index: 1;                  /* 層級降低，給下一張圖滑入 */
    }

    /* -------- 100%：等待循環 -------- */
    100%{
        transform:translateX(100%); /* 圖片回到右邊畫面外，等待下一輪 */
        z-index: 1;                  /* 層級低，避免干擾下一張圖片 */
    }        
}
/* ================= About 設計 ====================== */
#about{
    width: 100%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--midGray--);
    line-height: 1.7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#about .flex{
    width: 100%;
    padding: 30px 20px;
}

#about .flex h2,#about .flex h3{
    line-height: 42px;
}

#about .flex .grid-10{
    padding: 1em;
}

#about .flex .grid-10 p{
    padding: 0.5em 0;
}
#about .flex .grid-10 i{
    color: var(--mainColor--);
}

/* =================== Service 設計 ======================= */
#service{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
#service .flex .banner{
    text-align: center;
    padding: 60px 15px;
    background-color: var(--mainColor--);
    color: var(--textWhite--);
}
#service .flex .grid-6{
    position: relative;
}
#service .flex .grid-6 h3{
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    color: var(--textWhite--);
    font-weight: 900;
    text-align: center;
    background-color: var(--alphaBlack--);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* =========================手機版 Hot 設計 ============================== */

#hot{
    width: 100%;
    max-width: 1200px;
    margin: auto;    
}
#hot .flex{
    padding: 40px 20px;
}
#hot .flex .banner{
    padding: 40px 15px;
}
#hot .flex a{
    display: block;
    padding: 15px;
    line-height: 1.8em;
}
#hot .flex a h3{
    line-height: 48px;
}


/* =====================手機版 Video設計==================== */
/* #video{
    width: 100%;
    height: 30vh;
    background-image: url(../images/background-image.png);
    background-size: cover;
    background-position: center;
} */


#video{
    width: 100%;
    aspect-ratio: 16 / 5;   /* 依照你的圖片比例 */
    background-image: url(../images/background-image1.jpg);
    background-size: cover;      /* 保持比例 */
    background-position: center; /* 焦點置中 */
    background-repeat: no-repeat;
}
#video .grid-12{
    align-items: center;
    background-color: var(--mainAlphaColor--);
    color: var(--textWhite--);
    padding: 0 30px;
    line-height: 2em;
}

/* ======================= 手機版 Link 設計 ================================ */
#link{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: var(--darkGray--);
}
#link .flex .banner{
    text-align: center;
    padding: 60px 20px;
}
#link .flex .item{
    position: relative;
    overflow: hidden;
}
#link .flex .item .box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    background-color: var(--alphaBlack--);
    color: var(--textWhite--);
}
#link .flex .item .box h3,#link .flex .item .box p{
    width: 100%;
    padding: 10px 0;
}

/* ======================= Contact 設計 ================================ */
#contact{
    width: 100%;
    color: var(--textWhite--);
    background-color:#98868e;
}
#contact .flex{
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    line-height: 1.6em;
}
#contact .flex .item{
    padding: 15px;
    letter-spacing: 1px;
}
#contact .flex .item h3{
    line-height: 6em;
}
#contact .flex .item p{
    text-align: justify;
    margin-bottom: 0.8em;
}
#contact .flex .item a{
    color: var(--mainColor--);
}
#contact .flex .item a:hover{
    color: #d53585;
}
#contact .flex .item i{
    padding: 0 1em;
}
#contact .flex .item hr{
    margin: 10px 0;
    border: 1px solid var(--darkGray--);
}
/* ==============Footer 設計 =================== */
footer{
    width: 100%;
    padding: 2em 1em;
    background-color: var(--DarkGray--);
    color: var(--textWhite--);
}
footer p{
    text-align: center;
}


@media only screen and (min-width: 480px){
    .grid-sm-1{
        width: calc(100% / 12 * 1);
    }
    .grid-sm-2{
        width: calc(100% / 12 * 2);
    }
    .grid-sm-3{
        width: calc(100% / 12 * 3);
    }
    .grid-sm-4{
        width: calc(100% / 12 * 4);
    }
    .grid-sm-5{
        width: calc(100% / 12 * 5);
    }
    .grid-sm-6{
        width: calc(100% / 12 * 6);
    }
    .grid-sm-7{
        width: calc(100% / 12 * 7);
    }
    .grid-sm-8{
        width: calc(100% / 12 * 8);
    }
    .grid-sm-9{
        width: calc(100% / 12 * 9);
    }
    .grid-sm-10{
        width: calc(100% / 12 * 10);
    }
    .grid-sm-11{
        width: calc(100% / 12 * 11);
    }
    .grid-sm-12{
        width: calc(100% / 12 * 12);
    }
}
@media only screen and (min-width: 744px){
    .grid-md-1{
        width: calc(100% / 12 * 1);
    }
    .grid-md-2{
        width: calc(100% / 12 * 2);
    }
    .grid-md-3{
        width: calc(100% / 12 * 3);
    }
    .grid-md-4{
        width: calc(100% / 12 * 4);
    }
    .grid-md-5{
        width: calc(100% / 12 * 5);
    }
    .grid-md-6{
        width: calc(100% / 12 * 6);
    }
    .grid-md-7{
        width: calc(100% / 12 * 7);
    }
    .grid-md-8{
        width: calc(100% / 12 * 8);
    }
    .grid-md-9{
        width: calc(100% / 12 * 9);
    }
    .grid-md-10{
        width: calc(100% / 12 * 10);
    }
    .grid-md-11{
        width: calc(100% / 12 * 11);
    }
    .grid-md-12{
        width: calc(100% / 12 * 12);
    }
    /* ================= 桌面版 Header 設計 ==================== */
    header{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    header #logo{
        width: 250px;
    }
    header menu{
        width: calc(100% - 250px);
        background-color: transparent;
        color: var(--darkGray--);
        display: block!important;
        padding: 0;
        font-size: 14px; /* 設置字體大小 */
    }
    header menu ul{
        display: flex;
        justify-content: flex-end;
        white-space: nowrap; /* 防止換行 */
    }
    header menu ul li a{
        padding: 0 0.3em;
        font-size: 14px; /* 設置字體大小 */
    }
    header nav{
        display: none;
    }
}
@media only screen and (min-width: 480px){
    .grid-sm-1{
        width: calc(100% / 12 * 1);
    }
    .grid-sm-2{
        width: calc(100% / 12 * 2);
    }
    .grid-sm-3{
        width: calc(100% / 12 * 3);
    }
    .grid-sm-4{
        width: calc(100% / 12 * 4);
    }
    .grid-sm-5{
        width: calc(100% / 12 * 5);
    }
    .grid-sm-6{
        width: calc(100% / 12 * 6);
    }
    .grid-sm-7{
        width: calc(100% / 12 * 7);
    }
    .grid-sm-8{
        width: calc(100% / 12 * 8);
    }
    .grid-sm-9{
        width: calc(100% / 12 * 9);
    }
    .grid-sm-10{
        width: calc(100% / 12 * 10);
    }
    .grid-sm-11{
        width: calc(100% / 12 * 11);
    }
    .grid-sm-12{
        width: calc(100% / 12 * 12);
    }
}
@media only screen and (min-width: 744px){
    .grid-md-1{
        width: calc(100% / 12 * 1);
    }
    .grid-md-2{
        width: calc(100% / 12 * 2);
    }
    .grid-md-3{
        width: calc(100% / 12 * 3);
    }
    .grid-md-4{
        width: calc(100% / 12 * 4);
    }
    .grid-md-5{
        width: calc(100% / 12 * 5);
    }
    .grid-md-6{
        width: calc(100% / 12 * 6);
    }
    .grid-md-7{
        width: calc(100% / 12 * 7);
    }
    .grid-md-8{
        width: calc(100% / 12 * 8);
    }
    .grid-md-9{
        width: calc(100% / 12 * 9);
    }
    .grid-md-10{
        width: calc(100% / 12 * 10);
    }
    .grid-md-11{
        width: calc(100% / 12 * 11);
    }
    .grid-md-12{
        width: calc(100% / 12 * 12);
    }
    /* ================= 桌機版 Header 設計 ==================== */
    header{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    header #logo{
        width: 255px;
    }
    header menu{
        width: calc(100% - 255px);
        background-color: transparent;
        color: var(--darkGray--);
        padding: 0;
        display: block!important;
        height: auto!important;
    }
    header menu ul{
        display: flex;
        justify-content: flex-end;
    }
    header menu ul li a{
        padding: 0 0.3em;
    }
    header nav{
        display: none;
    }
}

/* **======== 桌機版 Slide 設計 ========** */
#slide .theme .item{
    max-width: 1200px;
    padding: 0 20px;
}
#slide .theme .item h2{
    font-size: 60px;
}
#slide .theme .item p{
    max-width: 500px;
}

/* **======== 桌機版 Video 設計 ========** */
#video{
    height: 40vh;
    justify-content: flex-end;
}

/* ======================= Link 設計 ================================ */
    #link .flex .item .box{
        opacity: 0;
        /* top: 70px; */
        left: 100px;
        transition: var(--transition--);
    }
    #link .flex .item:hover .box{
        opacity: 1;
        /* top: 0; */
        left: 0px;
    }

@media only screen and (min-width: 1200px){
    .grid-lg-1{
        width: calc(100% / 12 * 1);
    }
    .grid-lg-2{
        width: calc(100% / 12 * 2);
    }
    .grid-lg-3{
        width: calc(100% / 12 * 3);
    }
    .grid-lg-4{
        width: calc(100% / 12 * 4);
    }
    .grid-lg-5{
        width: calc(100% / 12 * 5);
    }
    .grid-lg-6{
        width: calc(100% / 12 * 6);
    }
    .grid-lg-7{
        width: calc(100% / 12 * 7);
    }
    .grid-lg-8{
        width: calc(100% / 12 * 8);
    }
    .grid-lg-9{
        width: calc(100% / 12 * 9);
    }
    .grid-lg-10{
        width: calc(100% / 12 * 10);
    }
    .grid-lg-11{
        width: calc(100% / 12 * 11);
    }
    .grid-lg-12{
        width: calc(100% / 12 * 12);
    }
    header menu ul li a{
        padding: 0 1em;
    }
}
/* =============== 桌機版 Service 設計 ================== */
    #service .flex .grid-6{
        overflow: hidden;
        cursor: pointer;
    }
    #service .flex .grid-6 img{
        filter: brightness(0.6);
        transition: var(--transition--);
    }
    #service .flex .grid-6 h3{
        bottom: -2.5em;
        transition: var(--transition--);
    }
    #service .flex .grid-6:hover img{
        filter: brightness(1);
        transform: scale(1.15);
    }
    #service .flex .grid-6:hover h3{
        bottom: 0;
    }
    
    /* =============== Hot 設計 ================== */
    #hot .flex{
        justify-content: space-between;
    }

    /* =============== GoTop 設計 ================== */
    #goTop {
    position: fixed;      /* 固定在視窗 */
    bottom: 40px;         /* 距離底部 */
    right: 40px;          /* 距離右側 */
    padding: 10px 15px;
    font-size: 20px;
    background-color: #d53585;;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;        /* 預設隱藏 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
}

#goTop:hover {
    background-color: #eb9cc4;;
}